*{
    transition:all 0.4s ease-in-out;
}
table,
thead,
tbody,
tr,
td,
th {
    text-align: center !important;
}
@media (min-width: 1024px) {
    body .wrapper {
        margin-left: 0rem;
        margin-right: 18rem;
    }

    body .wrapper.expanded {
        margin-left: 0rem;
        margin-right: 5rem !important;
    }

    * {
        font-family: 'Cairo';
        direction: rtl;
        scrollbar-width: thin;
        scrollbar-color: #888 #f6f6f6;
        scroll-behavior: smooth;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #888;
        border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #000;
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


}
